/* line 1, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#skills {
  background-color: #fff; }

/* line 5, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skills-bars {
  position: relative;
  margin-top: 20px;
  height: 350px;
  opacity: 0;
  transition: opacity .3s ease-out; }

/* line 13, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skills-item {
  position: absolute;
  width: 25%;
  height: 0;
  bottom: 0;
  border-right: 3px solid #fff;
  transition: height 1.2s ease-in-out; }

/* line 22, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skill1 {
  left: 0;
  background: #F28C83; }

/* line 27, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skill2 {
  left: 25%;
  background: #509B9E; }

/* line 32, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skill3 {
  left: 50%;
  background: #334959; }

/* line 37, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skill4 {
  left: 75%;
  background: #B2C7C8; }

/* line 42, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.percent {
  position: absolute;
  display: block;
  width: 100%;
  top: -70px;
  font-size: 48px;
  text-align: center; }

/* line 51, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skills-item p {
  position: absolute;
  width: 100%;
  bottom: -40px;
  text-align: center; }

/*-----------------------
--- Portfolio Styles ----
-------------------------*/
/* line 62, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#portfolio {
  padding-top: 70px;
  background: url("../images/bg-portfolio.jpg") no-repeat fixed;
  background-size: cover;
  color: #fff; }

/* line 69, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch #portfolio {
  background: #1F2C37; }

/* line 73, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-align: center; }

/* line 82, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul li {
  position: relative;
  display: inline-block;
  padding: 0;
  line-height: 24px;
  background: transparent;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 10px; }

/* line 93, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul li:after {
  display: block;
  content: '';
  position: absolute;
  top: 22px;
  right: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff; }

/* line 105, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul li:last-child:after {
  display: none; }

/* line 109, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul li a {
  display: block;
  font-size: 18px;
  line-height: 28px;
  height: 48px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 48px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

/* line 121, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul li a,
#filter-works ul li a:active,
#filter-works ul li a:hover {
  font-weight: 300;
  background: transparent;
  color: #fff;
  text-decoration: none; }

/* line 130, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#filter-works ul li.active a,
#filter-works ul li:hover a {
  color: #509B9E; }

/* line 135, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.masonry-wrapper {
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }

/* line 141, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#projects-container {
  margin: 0 auto;
  visibility: hidden; }

/* line 146, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#projects-container .project-item {
  display: block;
  position: relative;
  margin: 0;
  width: 370px;
  margin-bottom: 25px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
  z-index: 10;
  -webkit-backface-visibility: hidden; }

/* line 163, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#projects-container .project-item.filtered {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 0;
  -webkit-backface-visibility: hidden; }

/* line 174, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item:hover {
  cursor: pointer; }

/* line 178, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: none;
  transition: none;
  -webkit-backface-visibility: hidden; }

/* line 186, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item:hover img {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition: -webkit-transform 4s ease-in;
  transition: transform 4s linear; }

/* line 194, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item .hover-mask {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #509B9E;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* line 208, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item:hover .hover-mask {
  opacity: .95;
  filter: alpha(opacity=95); }

/* line 213, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item .hover-mask .project-title {
  color: #fff;
  margin: 90px 0 0;
  padding: 10px;
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 228, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item:hover .hover-mask .project-title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

/* line 234, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item .hover-mask p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

/* line 248, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.project-item:hover .hover-mask p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out .2s;
  transition: all 0.3s ease-out .2s; }

/* line 256, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }

/* line 267, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

/* line 275, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top, -webkit-transform, opacity;
  -moz-transition-property: left, right, top, -moz-transform, opacity;
  -ms-transition-property: left, right, top, -ms-transform, opacity;
  -o-transition-property: left, right, top, -o-transform, opacity;
  transition-property: left, right, top, transform, opacity; }

/*----------------------------
----Project Preview Styles----
-----------------------------*/
/* line 287, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-preview {
  display: none;
  position: relative;
  max-width: 940px;
  margin: 50px auto 0;
  font-weight: 400;
  opacity: 0;
  letter-spacing: 0.02em;
  overflow: visible !important; }

/* line 298, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch #project-preview {
  opacity: 1 !important; }

/* line 302, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-title {
  margin: 60px 0 30px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  word-spacing: 0.15em; }

/* line 309, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-preview p {
  margin-bottom: 20px; }

/* line 313, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.close-preview {
  position: absolute;
  padding: 0 5px;
  right: -5px;
  top: -50px;
  font-size: 44px;
  line-height: 44px;
  cursor: pointer; }

/* line 323, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider {
  min-height: 450px; }

/* line 327, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider.flexslider {
  margin: 0 0 20px;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 341, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider .flex-direction-nav {
  display: none; }

/* line 345, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -45px;
  text-align: center; }

/* line 346, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* line 347, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider .flex-control-paging li a {
  padding: 0px;
  width: 16px;
  height: 16px;
  display: block;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: none;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out; }

/* line 348, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider .flex-control-paging li a:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.6); }

/* line 349, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#project-slider .flex-control-paging li a.flex-active {
  background: #509B9E;
  cursor: default; }

/*----------------------
-----Twitter Styles-----
------------------------*/
/* line 355, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter {
  color: #fff;
  background-image: url("../images/bg-twitter.png");
  background-repeat: no-repeat;
  background-position: -30px -20px; }

/* line 362, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter a:hover,
#twitter a:active,
#twitter a:focus {
  text-decoration: none; }

/* line 368, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter a {
  color: #334959;
  text-decoration: none;
  transition: color .2s ease-out; }

/* line 374, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter a:hover,
#twitter a:focus {
  color: #fff; }

/* line 379, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter h1 {
  position: relative; }

/* line 383, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .tweet {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  word-spacing: 5px;
  margin-bottom: 40px; }

/* line 391, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .timePosted {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px; }

/* line 398, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .interact {
  margin-left: 20px;
  padding-right: 80px;
  display: inline-block;
  font-size: 21px;
  font-weight: 300; }

/* line 406, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .interact a {
  margin-right: 6px; }

/* line 410, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .interact a:hover {
  color: #fff;
  transition: color .2s ease-out; }

/* line 415, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .twitter-icon {
  padding-top: 6px;
  text-align: center; }

/* line 420, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .fa-twitter {
  font-size: 60px; }

/* line 424, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter-slider {
  border: none;
  box-shadow: none;
  background: transparent;
  margin: 0;
  padding: 0; }

/* line 432, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter-slider .flex-direction-nav {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 0; }

/* line 439, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter-slider .flex-direction-nav li {
  display: inline; }

/* line 443, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter .flex-direction-nav .flex-prev,
#twitter .flex-direction-nav .flex-next {
  background: transparent;
  background-image: none;
  display: inline;
  opacity: 0.6;
  text-indent: 0;
  position: relative;
  left: 0;
  top: 0;
  width: auto;
  height: 42px;
  padding: 0;
  margin: 0;
  margin-left: 7px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out; }

/* line 465, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter-slider .flex-direction-nav a:hover {
  opacity: 1; }

/* line 469, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#twitter-slider .flex-direction-nav a:hover,
#twitter-slider .flex-direction-nav a:active,
#twitter-slider .flex-direction-nav a:focus {
  text-decoration: none; }

/*----------------------
----- Contact Styles ----
------------------------*/
/* line 479, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact {
  background-image: url("../images/bg-contact.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: #fff; }

/* line 486, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .form-group label {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  text-transform: uppercase; }

/* line 494, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form.no-placeholder .form-group label {
  display: block; }

/* line 498, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .controls {
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 2px; }

/* line 505, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .form-control {
  background: transparent !important;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  height: 56px;
  font-size: 21px;
  line-height: 32px;
  font-weight: 100;
  padding-left: 64px;
  -webkit-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
  border-radius: 2px; }

/* line 522, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .form-group {
  position: relative; }

/* line 526, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .form-group [class*=fa] {
  display: block;
  width: 64px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #e5e5e5;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
  font-weight: 300;
  opacity: 0.5;
  transition: opacity .2s ease-out; }

/* line 541, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form.no-placeholder .form-group [class*=fa] {
  top: 30px; }

/* line 545, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .form-control:focus + [class*=fa] {
  opacity: 1; }

/* line 549, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  font-size: 21px;
  line-height: 32px;
  padding-top: 10px; }

/* line 558, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .form-control:focus {
  background: #fff;
  border-bottom: 3px solid #F28C83;
  outline: none;
  box-shadow: none;
  -webkit-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in; }

/* line 567, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .error-message {
  padding: 5px 0;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 14px;
  font-weight: 300;
  color: #ff0000;
  z-index: 10; }

/* line 578, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#contact-form .error-message:before {
  content: "\00d7";
  font-size: 21px;
  line-height: 21px;
  margin-right: 5px; }

/*-------------------
---- GMap Styles ----
---------------------*/
/* line 589, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#gmap {
  display: block;
  width: 100%;
  height: 500px;
  margin: 0 auto; }

/* line 596, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#gmap .infowin {
  padding: 10px 20px; }

/* line 600, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#gmap .infowin p {
  margin-bottom: 10px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }

/* line 607, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#gmap .infowin a {
  color: #F28C83; }

/* line 611, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
#gmap .infowin a:hover {
  text-decoration: underline; }

/*----------------------
----- Footer Styles ----
------------------------*/
/* line 618, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px; }

/* line 625, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.social-links li {
  display: inline-block;
  margin: 0 5px;
  border-radius: 3px;
  box-shadow: 0 4px 0 transparent;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }

/* line 634, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.social-links li a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 21px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }

/* line 649, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.social-links li a:hover {
  color: #fff;
  background: #509B9E; }

/*------------------------
---Scrolling animations---
-------------------------*/
/* line 658, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out; }

/* line 664, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-in.in {
  opacity: 1; }

/* line 668, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.scale-in {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.17, 0.89, 0.67, 1.57), opacity 0.6s ease-out;
  transition: transform 0.6s cubic-bezier(0.17, 0.89, 0.67, 1.57), opacity 0.6s ease-out; }

/* line 678, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.scale-in.in {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* line 686, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-right {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: -webkit-transform .6s ease-out,opacity .6s ease-out;
  transition: transform .6s ease-out,opacity .6s ease-out; }

/* line 696, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-right.in {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

/* line 704, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-left {
  opacity: 0;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: -webkit-transform .6s ease-out,opacity .6s ease-out;
  transition: transform .6s ease-out,opacity .6s ease-out; }

/* line 714, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-left.in {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

/* line 722, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-up {
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform .6s ease-out,opacity .6s ease-in;
  transition: transform .6s ease-out,opacity .6s ease-in-out; }

/* line 732, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.fade-up.in {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

/* line 740, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.d1 {
  transition-delay: .3s; }

/* line 744, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.d2 {
  transition-delay: .6s; }

/* line 748, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.d3 {
  transition-delay: .9s; }

/* line 752, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.scrollimation.d4 {
  transition-delay: 1.2s; }

/* line 756, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch .scrollimation.fade-in {
  opacity: 1; }

/* line 760, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch .scrollimation.scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* line 768, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch .scrollimation.fade-right {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

/* line 776, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch .scrollimation.fade-left {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

/* line 784, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.touch .scrollimation.fade-up {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

/* line 792, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.skills-images img {
  margin-bottom: 20px; }

/*----------------------
----- Media Queries ----
------------------------*/
@media (max-width: 991px) {
  /* line 802, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .big-text {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.01em;
    word-spacing: 0.15em; }

  /* line 809, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .nav a,
  #main-nav .nav a:active,
  #main-nav .nav a:hover {
    font-size: 16px; }

  /* line 815, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav li {
    margin: 0 5px; }

  /* line 819, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .percent {
    top: -60px;
    font-size: 42px; }

  /* line 824, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #projects-container .project-item {
    width: 320px;
    margin-bottom: 20px; }

  /* line 829, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .project-item .hover-mask .project-title {
    margin-top: 75px; }

  /* line 833, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #project-slider {
    min-height: 0; } }
@media (max-width: 767px) {
  /* line 840, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  body {
    font-size: 15px; }

  /* line 844, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .lead {
    font-size: 16px;
    font-weight: 400; }

  /* line 849, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .add-padding {
    padding-top: 60px;
    padding-bottom: 60px; }

  /* line 854, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .big-text {
    font-size: 38px;
    line-height: 42px; }

  /* line 859, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .section-title {
    margin-top: -20px;
    margin-bottom: 40px; }

  /* line 864, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

  /* line 869, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .navbar-toggle {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #6d6d6d;
    border-color: transparent !important; }

  /* line 876, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .navbar-toggle .icon-bar {
    width: 28px;
    height: 4px;
    margin-top: 0;
    background: #6d6d6d !important; }

  /* line 883, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

  /* line 887, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .container,
  #main-nav.scrolled .container {
    padding: 5px 20px; }

  /* line 892, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .nav a,
  #main-nav .nav a:active,
  #main-nav .nav a:hover {
    line-height: 42px;
    text-align: center;
    color: #6d6d6d; }

  /* line 900, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .nav li.active a,
  #main-nav .nav a:hover {
    color: #F28C83; }

  /* line 905, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .navbar-brand {
    padding-top: 5px;
    font-size: 21px;
    color: #6d6d6d; }

  /* line 911, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #main-nav .navbar-brand img {
    margin-right: 10px;
    max-width: 40px; }

  /* line 916, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #home .container {
    margin-top: -80px; }

  /* line 920, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #home p {
    font-size: 24px; }

  /* line 924, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #home h1 {
    font-size: 42px; }

  /* line 928, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #home h1 + p {
    font-size: 21px; }

  /* line 932, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .service-item {
    margin-bottom: 40px; }

  /* line 936, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .polaroid {
    border: 12px solid #fff;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 35px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }

  /* line 946, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .percent {
    top: -45px;
    font-size: 28px; }

  /* line 951, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .skills-item p {
    font-size: 14px; }

  /* line 955, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #filter-works ul li a {
    display: block;
    font-size: 16px;
    height: 18px;
    padding: 10px 5px; }

  /* line 962, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #project-title {
    font-size: 28px; }

  /* line 966, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #twitter .tweet {
    font-size: 18px;
    line-height: 24px; }

  /* line 971, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #contact-form {
    margin-top: 30px; }

  /* line 975, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #gmap {
    height: 300px; } }
@media (max-width: 479px) {
  /* line 982, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  #projects-container .project-item {
    width: 300px;
    margin-bottom: 15px; }

  /* line 987, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
  .project-item .hover-mask .project-title {
    margin-top: 70px; } }
/* line 992, /Users/he9lin/Projects/mobile-sites/dj-beauty-x/source/assets/stylesheets/styles.css.scss */
.texts-pre {
  margin-bottom: 60px; }
